.section_2
{
    max-width: 1300px;
    margin:0 auto;
    height: 528px;
}
#activites
{
    margin-left: 32px;
    margin-right: 32px;
}
#activites h2
{
    margin-left: 22px;
    padding-top: 16px;
}
.activites_a_b_c_d
{
    display:flex;
    justify-content: space-between;
    height:448px;
}
.activites_a_b_c_d h3
{
    color:black;
    font-size: 15px;
    font-weight: 900;
    margin:0;
    padding-left:16px;
    padding-top: 16px;
    padding-bottom: 16px;

}
.activites_a_b_c_d a
{
    text-decoration: none;
}
.activite_a, .activite_c
{
    width:22%;
    border-radius: 15px;
    box-shadow: 5px 5px 2px #f2f2f2;
}
.activite_a img, .activite_c img
{
    width:100%;
    height: 400px;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
}
.activite_a p, .activite_b p, .activite_c p, .activite_d p
{
    margin:0px;
}
.activite_b, .activite_d
{
    width:22%;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}
.activite_b1,.activite_b2, .activite_d1, .activite_d2
{
    border-radius: 15px;
    text-decoration: none;
    box-shadow: 5px 5px 2px #f2f2f2;
}
.activite_b1 img
{
    width:100%;
    height: 192px;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
}
.activite_b2 img
{
    width:100%;
    height: 112px;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
}
.activite_d1 img 
{
    width:100%;
    height: 144px;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
}
.activite_d2 img 
{
    width:100%;
    height: 160px;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
}
@media screen and (min-width:768px)and (max-width:992px)
{
    .section_2
    {
        height: 912px;;
    }
    #activites h2
    {
        font-size: 29px;
    }
    .activites_a_b_c_d
    {
        display:flex;
        flex-wrap: wrap;
        justify-content:space-evenly;
    }
    .activite_a, .activite_c
    {
        width:45%;
        margin-bottom: 32px;
    }
    .activite_c
    {
        order:2;
    }
    .activite_b
    {
        order:3;
        margin-bottom: 32px;
    }
    .activite_d
    {
        order:4;
    }
    .activite_a img, .activite_b1 img, .activite_b2 img, .activite_c img, .activite_d1 img, .activite_d2 img
    {
        height: 192px;
    }
    
    .activite_b, .activite_d
    {
        width:92%;
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .activite_b1, .activite_b2, .activite_d1, .activite_d2
    {
        width:48%;
    }
    .activites_a_b_c_d h3
    {
        font-size: 19px;
    }   
}
@media screen and (max-width:768px)
{
    .section_2
    {
        
        height:1392px;
    }
    #activites
    {
        width:100%;
        margin-right: 0px;
        margin-left: 0px;
    }
    #activites h2
    {
        margin-left: 20px;
        padding-top: 0px;
        font-size: 22px;
    }
    .activites_a_b_c_d
    {
        display:flex;
        flex-direction: column;
        justify-content:start;
        align-items: center;
        gap:16px;
        margin-right: 16px;
        margin-left: 16px;
        height:1280px;
    }
    .activites_a_b_c_d h3
    {

        font-size: 16px;
        font-weight: 900;

    }
    .activite_a, .activite_b, .activite_c, .activite_d
    {
       width:100%;
    }
    .activite_a, .activite_b1, .activite_b2,.activite_c, .activite_d1, .activite_d2
    {
        height: 211px;
    }
    .activite_b, .activite_d
    {
        gap:16px;
    }
    .activite_a img, .activite_b1 img, .activite_b2 img, .activite_c img, .activite_d1 img, .activite_d2 img
    {
        height: 160px;
    }
}
